<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Buildings</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="#" th:action="@{/buildings/-1}" method="post">
    <table>
        <tr>
            <td>Building Name:</td>
            <td><input type="text" name="name" id="name" /></td>
        </tr>
        <tr>
            <td>Type of building:</td>
            <td><input type="text" name="type" id="type" /></td>
        </tr>
        <tr>
            <td>Number of rooms:</td>
            <td><input type="text" name="noOfRooms" id="noOfRooms" /></td>
        </tr>
        <tr>
            <td>Number of parking spaces:</td>
            <td><input type="text" name="noOfParkingSpaces" id="noOfParkingSpaces" /></td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Save" />
            </td>
        </tr>
    </table>

</form>
</body>
</html>